<div class="card">
    <div class="card-body">
        <table class="table table-border">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{viewLevel.id}}</td>
                </tr> 
                <tr>
                    <th>Name</th>
                    <td>{{viewLevel.level}}</td>
                </tr>
                <tr>
                    <th>Create Date</th>
                    <td>{{viewLevel.created_date}}</td>
                </tr>
                <tr>
                    <th>Update Date</th>
                    <td>{{viewLevel.updated_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>