<div class="card">
    <div class="card-body">
        <table class="table table-border">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{id}}</td>
                </tr> 
                <tr>
                    <th>Class Number</th>
                    <td>{{class_number}}</td>
                </tr>
                <tr>
                    <th>Level</th>
                    <td>{{level}}</td>
                </tr>
                <tr>
                    <th>Create Date</th>
                    <td>{{createdate}}</td>
                </tr>
                <tr>
                    <th>Update Date</th>
                    <td>{{updatedate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>