<h2>Manage Location</h2>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success mb-2">Add Province</button>
  </div>
  <div class="col-md-4">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <h2 class="card-title">Province</h2>
        <div class="card-text">
          <table class="ml-3">
            <tr>
              <td><input type="search" name="search" placeholder="Search Province" class="form-control form-control-sm"></td>
              <td><button class="btn btn-primary btn-sm"><li class="fas fa-search"></li></button></td>
            </tr>
            <tr>
              <td>Vintiane Province</td>
              <td><button class="btn btn-primary btn-sm"><li class="fas fa-plus"></li></button>
                <button class="btn btn-warning btn-sm"><li class="fas fa-eye"></li></button>
              </td>
            </tr>
            <tr>
              <td>Huaphan Province</td>
              <td><button class="btn btn-primary btn-sm"><li class="fas fa-plus"></li></button>
                <button class="btn btn-warning btn-sm"><li class="fas fa-eye"></li></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <h2 class="card-title">District</h2>
        <div class="card-text">
          <table  class="ml-3">
            <tr>
            <td><input type="search" name="search" placeholder="Search District" class="form-control form-control-sm"></td>
            <td><button class="btn btn-primary btn-sm"><li class="fas fa-search"></li></button></td>
          </tr>
            <tr>
              <td>xaithany District</td>
              <td><button class="btn btn-primary btn-sm"><li class="fas fa-plus"></li></button>
                <button class="btn btn-warning btn-sm"><li class="fas fa-eye"></li></button>
              </td>
            </tr>
            <tr>
              <td>Chanthaboly District</td>
              <td><button class="btn btn-primary btn-sm"><li class="fas fa-plus"></li></button>
                <button class="btn btn-warning btn-sm"><li class="fas fa-eye"></li></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <h2 class="card-title">Village</h2>
        <div class="card-text">
          <table  class="ml-3">
            <tr>
              <td><input type="search" name="search" placeholder="Search Village" class="form-control form-control-sm"></td>
              <td><button class="btn btn-primary btn-sm"><li class="fas fa-search"></li></button></td>
            </tr>
            <tr>
              <td>Nathom Village</td>
              <td><button class="btn btn-primary btn-sm"><li class="fas fa-plus"></li></button>
                <button class="btn btn-warning btn-sm"><li class="fas fa-eye"></li></button>
              </td>
            </tr>
            <tr>
              <td>Dongdok Village</td>
              <td><button class="btn btn-primary btn-sm"><li class="fas fa-plus"></li></button>
                <button class="btn btn-warning btn-sm"><li class="fas fa-eye"></li></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
