<div class="card card-outline card-primary">
  <div class="card-header">
    <h3>Manage SuperAdmin</h3>
  </div>
  <div class="card-body">
    <button class="btn btn-sm btn-success" (click)="createsuperadmin()">Create</button>
    <table class="projects table table-striped">
      <thead>
        <tr>
          <th style="width: 5%">#</th>
          <th style="width: 20%">Username</th>
          <th style="width: 20%">Update Date</th>
          <th style="width: 20%">Create Date</th>
          <th class="text-center" style="width: 8%">Status</th>
          <th style="width: 25%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of superadmin.viewallsuperadmin; index as i">
          <td>#</td>
          <td><a>{{admin.username}}</a></td>
          <td> <p>{{admin.created_date}}</p> </td>
          <td> <p>{{admin.updated_date}}</p> </td>
          <td>
            <div class="badge badge-success" *ngIf="admin.status=='active' else inactive">active</div>
            <ng-template #inactive ><div class="badge badge-danger">active</div></ng-template>
          </td>
          <td class="project-actions text-right">
            <button class="btn btn-warning btn-sm"><i class="fa-undo fas"></i></button> 
            <button class="btn btn-primary btn-sm" (click)="updatesuperadmin(admin.id)"><i class="fa-pencil-alt fas"></i></button>
            <button class="btn btn-danger btn-sm" (click)="deletesuperadmin(admin.id)"><i class="fa-trash fas"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
